.Question{
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient(90deg, #000000b4 0%, #000000b4 100%),
    url('../../assets/images/image.jpeg') ;
    background-size: cover;
    font-family: '';
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.body{
    height: 100%;
    overflow: scroll;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4% 14%;
    
}
.QuestionBox{
    width: 80%;
    height: 100%;
    overflow: scroll;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 48px;
    padding: 24px 58px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(217, 217, 217, 0.3);
}
.TitleBar{
    height: 77px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    gap: 10px;
    padding: 0;
}
.QuestionTitle{
    width: 171px;
    height: 67px;
    flex-grow: 0;
    font-family: Peyda;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.QuestionOther{
    height: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    padding: 8px;
}
.category{
    height: 34px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.categoryText{
    height: 34px;
    flex-grow: 0;
    font-family: Peyda;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.greenText{
    height: 34px;
    flex-grow: 0;
    font-family: Peyda;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0cbc8d;
}
.StarBox{
    width: 80px;
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 0;
}
.icon{
    width: 24px;
    height: 24px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 5px;
}
.Line {
  height: 3px;
  align-self: stretch;
  flex-grow: 0;
  background-color: #0cbc8d;
}
.QuestionText{
    height: 510px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Peyda;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}
.assets{
    height: 80px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0;
}
.assetBox{
    width: 176px;
    height: 60px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    // padding: 4px;
    border-radius: 16px;
    border: solid 1px #fff;
}
.assetImg{
    width: 48px;
    height: 48px;
    flex-grow: 0;
    border-radius: 16px;
}
.assetText{

    flex-grow: 0;
    font-family: Peyda;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}
.SubmitBar{
    height: 56px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
}
.SubmitBox{
    width: 352px;
    height: 54px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border-radius: 16px;
    border: solid 2px #fff;
    background-color: #00000000;
    font-family: Peyda;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}
.SubmitBox:focus {
    border: solid 2px #0cbc8d;
    color: #fff;
}
.Submit{
    width: 150px;
    height: 56px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 21px;
    border-radius: 16px;
    background-color: #0cbc8d;
}
.SubmitTxt{
    width: 40px;
    height: 34px;
    flex-grow: 0;
    font-family: Peyda;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}