.QuestionPool{
    width: 100vw;
    height: 100vh;

    background-image:
    linear-gradient(90deg, #000000b4 0%, #000000b4 100%),
    url('../../assets/images/image.jpeg') ;
    background-size: cover;
    font-family: '';
}
.body{
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5% 24%;
    
}
.inner{
    width: 1044px;
    height: 620px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0;
}
.button{
    width: 90px;
    height: 90px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    padding: 19px 16px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(217, 217, 217, 0.3);
}
@font-face {
    font-family: peydaFaNum;
    src: url(../../assets/fonts/peyda/PeydaFaNum-Medium.ttf);
  }
.num{
    height: 47px;
    align-self: stretch;
    flex-grow: 0;
    font-family: peydaFaNum;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}