.LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Loading {
  position: relative;
  transform: rotate(calc(45deg * var(--i)));
  filter: hue-rotate(50deg);

  span {
    position: absolute;
    transform: rotate(calc(18deg * var(--j)));

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid #00fa0a;
      border-radius: 2px;
      animation: animate 5s ease-in-out infinite forwards;
      animation-delay: calc(-0.5s * var(--j));
    }
  }

  &:nth-child(even) span::before {
    background-color: #00fa0a;
  }
}

@keyframes animate {
  0% {
    transform: translateX(250px) scale(4);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(10px) scale(0);
    opacity: 0;
  }
}
